---
pxe_boot_nic: "eth1"
pxe_boot_server_ip: "172.16.200.41"
pxe_dhcp_start: 172.16.200.64
pxe_dhcp_end: 172.16.200.95
bifrost_inventory:
  - pm_addr: 172.16.200.21
    nickname: "pentagon01"
    mac: "d0:50:99:79:77:aa"
    cpu: 4
    memory: 16384
    disk: 110
    arch: x86_64
    pm_user: admin
    pm_password: admin
    uuid: "{{ 1721620021 | random | to_uuid }}"
    #root_device_type: "model"
    # WDC WD1003FBYX-01Y7B0
    #root_device: "WDC WD1003FBYX-0"

  - pm_addr: 172.16.200.22
    nickname: "pentagon02"
    mac: "d0:50:99:79:77:78"
    cpu: 4
    memory: 16384
    disk: 110
    arch: x86_64
    pm_user: admin
    pm_password: admin
    # ip_address: 192.168.1.156
    uuid: "{{ 1721620022 | random | to_uuid }}"
    #root_device_type: "model"
    # Full device line in bios was: "SanDisk SD6SB1M064G1022I"
    #root_device: "SanDisk SD6SB1M0"

  # ------------------------------- didn't wanna boot one time, worth another try at some point.
  - pm_addr: 172.16.200.23
    nickname: "pentagon03"
    mac: "d0:50:99:79:78:5e"
    cpu: 4
    memory: 16384
    disk: 110
    arch: x86_64
    pm_user: admin
    pm_password: admin
    # ip_address: 192.168.1.155
    uuid: "{{ 1721620023 | random | to_uuid }}"
    #root_device_type: "model"
    #root_device: "Crucial_CT256M55"
    # custom_image: true

  # # ------------------------------- undercloud.
  # [root@nocbox playbooks]# lsblk -okname,serial,wwn
  # KNAME SERIAL               WWN
  # sda   PNY39162193120100D68 0x5f8db4c391600d68
  # sda1                       0x5f8db4c391600d68
  # sda2                       0x5f8db4c391600d68
  # sda3                       0x5f8db4c391600d68
  # sda4                       0x5f8db4c391600d68
  # sda5                       0x5f8db4c391600d68
  # sdb   373BA38F
  # sdb1
  # sdb2

  # # - pm_addr: 192.168.1.13
  # #   mac: "00:25:90:2F:03:DC"
  # #   cpu: 2
  # #   memory: 48130
  # #   disk: 64
  # #   arch: x86_64
  # #   pm_user: stack
  # #   pm_password: redhatz

  # - pm_addr: 192.168.1.14
  #   mac: "00:25:90:2F:0A:9C"
  #   cpu: 2
  #   memory: 48130
  #   disk: 1000
  #   arch: x86_64
  #   pm_user: stack
  #   pm_password: redhatz
  #   capabilities: "profile:ceph-storage,boot_option:local"

  # - pm_addr: 192.168.1.15
  #   mac: "00:25:90:2F:0A:DA"
  #   cpu: 2
  #   memory: 48130
  #   disk: 64
  #   arch: x86_64
  #   pm_user: stack
  #   pm_password: redhatz
  #   capabilities: "profile:control,boot_option:local"

  # - pm_addr: 192.168.1.16
  #   mac: "00:25:90:48:B8:44"
  #   cpu: 2
  #   memory: 48130
  #   disk: 64
  #   arch: x86_64
  #   pm_user: stack
  #   pm_password: redhatz
  #   capabilities: "profile:compute,boot_option:local"

  # - pm_addr: 192.168.1.17
  #   mac: "00:25:90:49:55:A6"
  #   cpu: 2
  #   memory: 48130
  #   disk: 120
  #   arch: x86_64
  #   nickname: droctagon5
  #   pm_user: stack
  #   pm_password: redhatz
  #   capabilities: "profile:compute,boot_option:local"
  #   uuid: 53d0b92b-339b-46a6-8b98-be975a4f06fb
  #   ip_address: 192.168.1.156
  #   # This box has a USB stick in here, so we need to specify the root device.
  #   # Here I use the serial number.
  #   root_device_type: serial
  #   root_device: PNY39162193120100CF2
